.alert-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.3);
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:9999;
}

.alert-modal{
  background:white;
  padding:28px;
  width:350px;
  border-radius:14px;
  box-shadow:0 8px 25px rgba(0,0,0,.1);
  text-align:center;
  font-family:Inter, sans-serif;
}

.alert-modal h3{
  margin:0 0 10px;
  color:#111;
}

.alert-modal p{
  color:#444;
  margin-bottom:22px;
}

.alert-btn{
  background:#4f46e5;
  color:white;
  border:none;
  padding:10px 22px;
  border-radius:10px;
  cursor:pointer;
}
