.body-Admin {
  display: flex;
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* Sidebar fijo */
.body-Admin .admin-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Todo el alto de la pantalla */
  width: 240px; /* Ajusta según tu diseño */
 
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 1000; /* Encima del contenido */
}

/* Contenido principal desplazable */
.body-Admin .content-admin {
  margin-left: 270px; /* Igual al ancho del sidebar */
  flex: 1;
  padding: 20px;
  transition: all 0.3s ease;
}

/* Responsive: móviles */
@media (max-width: 768px) {
  .body-Admin {
    flex-direction: column;
  }

  .body-Admin .admin-sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }

  .body-Admin .content-admin {
    margin-left: 0;
    width: 100%;
    padding: 10px;
  }
}

