/* .body-Admin {
  padding: 2rem;
  background: #f7f7f7;
  min-height: 100vh;
} */
.body-Admin {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Ajuste del Outlet */
.body-Admin > div {
  flex: 1;
  transition: all 0.3s ease;
}

/* En móviles, el menú se oculta y el outlet se centra */
@media (max-width: 768px) {
  .body-Admin {
    flex-direction: column;
  }

  .body-Admin > div {
    margin-left: 0 !important;
    padding: 10px;
    width: 100%;
  }
}