:root {
  --mini-topbar-h: 44px;
  --mini-offset: var(--mini-topbar-h);
  --color-rojo-principal: #D90429;
  --color-rojo-oscuro: #b30021;
  --color-texto-oscuro: #333;
  --color-fondo: #fff;
  --altura-navbar: 70px;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
}
.App {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto-oscuro);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}