:root {
  --mini-topbar-h: 44px;
  --mini-offset: var(--mini-topbar-h);
  --color-rojo-principal: #D90429;
  --color-rojo-oscuro: #b30021;
  --color-texto-oscuro: #333;
  --color-fondo: #fff;
  --altura-navbar: 70px;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
}